<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node name="iqr" pkg="pan_tilt_driver" type="PanTiltDriverNode" output="screen">

    <param name="port_name" value="/dev/pan_tilt"/>
    <param name="yaw_joint_name" value="pan_tilt_yaw_joint"/>
    <param name="pitch_joint_name" value="pan_tilt_pitch_joint"/>
  </node>

  <!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find pan_tilt_description)/urdf/pan_tilt_st.urdf.xacro" /> -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  -->

<!--   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
  </node> -->
</launch> 
