<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="use_joy" default="false"/>

  <node name="pan_tilt_driver_node" pkg="pan_tilt_driver" type="PanTiltDriverNode" output="screen">
    <param name="port_name" value="/dev/pan_tilt"/>
    <param name="yaw_joint_name" value="pan_tilt_yaw_joint"/>
    <param name="pitch_joint_name" value="pan_tilt_pitch_joint"/>
  </node>

  <group if="$(arg use_joy)">
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="autorepeat_rate" type="double" value="10" />
    </node>

    <node name="pan_tilt_control" pkg="pan_tilt_driver" type="pan_tilt_control.py" output="screen">
    </node>
  </group>

  <include file="$(find pan_tilt_description)/launch/state_publisher.launch" />

  <arg name="rvizconfig" default="$(find pan_tilt_description)/rviz/view_modle.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch> 
