<?xml version="1.0"?>
<robot name="iqr_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include accessories -->
  <xacro:include filename="$(find pan_tilt_description)/urdf/pan_tilt.urdf.xacro" />

  <link name="base_link" />
  <xacro:pan_tilt parent="base_link" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:pan_tilt>
</robot>
