<?xml version = "1.0" encoding = "UTF-8"?>
<launch>
  <include file="$(find pan_tilt_description)/launch/description.launch.xml" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pan_tilt_description)/viz/view_model.rviz" />
</launch>
